body{
  background-color: rgb(118, 123, 145);
}

.menu {
  background-color: rgb(199, 204, 219);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  
}

h2 {
  font-family: fasthand, Times New Roman;
  font-size: 30px ;
  margin-bottom: 0;
}
.flavor {
  font-size: 20px;
  font-family: sans-serif, Arial;
  margin-top: 0;
}

.price {
  font-size: 20px;
  font-family: sans-serif, Arial;
}

hr {
  height: 3px;
  background-color: rgb(42, 50, 75);
  border-color: rgb(42, 50, 75);
  margin-bottom: 20px;
  margin-top: 15px;
}

.outsources {
  text-align: center;
}

.address {
  text-align: center;
}

